body {
    margin: 0px;
}

.header {
    background-color: #BC1836;
    text-align: center;
    margin: 0px;
    padding: 30px 50px 60px 50px;
}

.header .titulo {
    font-family: 'El Rio Lobo';
    font-size: 45px;
    color: #FFBE3C;
    margin-bottom: 0px;
}

.header .subtitulo {
    font-size: 25px;
    color: white;
    margin-top: 10px;
}

.container1 {
    background-color:
    position: center;
}
